<% include ../partials/header %> 

     <header class="jumbotron">
         <div class="container">
             <h1><span class="glyphicon glyphicon-lamp"></span> Welcome To Teeming Resorts!</h1>
             <p>View our hand-picked resorts from all over the world</p>
             <p>
                <a class="btn btn-primary btn-lg" href="/resorts/new">Add New Resort</a>
             </p>
              <p>
              <form action="/resorts" method="GET" class="form-inline" id="resort-search">
                <div class="form-group">
                  <input type="text" name="search" placeholder="Resort search..." class="form-control">
                </div>
              </form>
             </p>
         </div>
     </header>
     
     <div class="row text-center flex-wrap" id="resort-grid">
        <% resorts.forEach(function(resort){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= resort.image %>">
                   <div class="caption">
                       <h4><%= resort.name %></h4>
                   </div>
                   <p>
                       <a href="/resorts/<%= resort._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>
